body {
    font-family: 'Ubuntu', sans-serif;
}

html {
    font-size: 62.5%;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    padding: 3rem 0;
    margin: 0 1rem;
    text-align: center;
    position: relative;
    color: #6fa141;
    text-shadow: 5px 3px 5px black;

}

.imagen-bg {
    max-width: 100%;
    max-height: 100%;
    background-image: url('/img/ciclista.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.imagen-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

ion-icon {
    font-size: 5rem;
    margin: 0 1rem;
}

.contenedor {
    max-width: 1200px;
    margin: 0;
    display: flex;
    position: relative;
}

.form {
    max-width: 1100px;
    width: 40%;
    height: 60vh;
    margin: 4rem auto;
    padding: 3rem;
    font-family: 'Ubuntu', sans-serif;
}

.form__listado {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.form__selector-box {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    font-size: 1.5rem;
}

.form__selector-box label {
    font-weight: 800;
    font-size: 1.8rem;
    color: #6fa141;
    text-shadow: 2px 3px 2px black;
}

.form__selector {
    width: 80%;
    border: 2px solid black;
    background-color:#a2c87e;
    border-radius: 1rem;
    padding: 1rem;
}

.form__selector option {
    background-color: #a2c87e;
}
option:hover {
    background-color: #6fa141;

}

.resultados__contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultados__titulo {
    font-size: 2.5rem;
    color: #a2c87e;
    text-shadow: 5px 3px 5px black;
}

.resultados {
    width: 100%;
    max-width: 80rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: auto;
}

.resultados ul {
    width: 20rem;
    margin-bottom: 1rem;
    padding: 2rem 3rem;
    border: 3px solid black;
    background-color: #6fa141;
    border-radius: 1rem;
    list-style: none;
}

.resultado__text li {
    font-size: 1.6rem;
    line-height: 1.5;
}

.resultado__text span {
    font-size: 1.7rem;
    font-weight: 700;
}


.alerta {
    grid-area: 1/2;
    width: 25rem;
    padding: 1rem;
    text-align: center;
    border: 4px solid #6fa141;
    font-size: 2rem;
}

.error {
    background-color: white;
}